---
import Layout from '../layouts/Layout.astro';
import App from '../App.tsx';
---

<Layout title="Milky'sCare Tracker">
	<App client:load>
		<p slot="fallback" class="px-6 py-8 text-center text-secondary">
			Loading Milky&apos;s Care…
		</p>
	</App>
</Layout>
